[server]
headless = true
port = 8501
enableCORS = false
enableXsrfProtection = true

[browser]
gatherUsageStats = false

[theme]
primaryColor = "#FF8200"
backgroundColor = "#1a1a1a"
secondaryBackgroundColor = "#2c2c2c"
textColor = "#e0e0e0"
font = "sans serif"
